Source: wkdb
Section: perl
Priority: optional
Build-Depends: debhelper (>= 5.0.0), workout
Build-Depends-Indep: perl (>= 5.8.8-7etch1)
Maintainer: Rainer Clasen <bj@zuto.de>
Standards-Version: 3.7.2

Package: wkdb
Architecture: all
Depends: workout, libfile-homedir-perl, libfile-sharedir-perl,
 libclass-accessor-perl, libdbd-sqlite3-perl, libdbix-class-perl,
 libdatetime-perl, libsql-translator-perl, ${perl:Depends}, ${misc:Depends},
Description: Workout Database
 routines and helper to manage database of sport exercise recordings
 (workouts).
